<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill Cypher</title>
  <link rel="stylesheet" href="/style.less">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script type="module" src="/main.js" defer></script>
</head>
<body>
  
  <header class="header">
    <h1>🔏 Vigenère Encoder and Decoder</h1>
    <h2>by NSDawn and Sirius209</h2>
  </header>

  <main ng-app="vigenereApp" ng-controller="vigenereController">

    Encode
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    Decode
    
    <div class="card">
      <h2 class="cardtitle">
        Encode/Decode
      </h2>
      <textarea ng-model="encodeInput" class="content" name="" cols="30" rows="10" placeholder="Enter text to encode..."></textarea>
      <input ng-model="encodeKey" class="content" type="text">
      <textarea ng-model="encodeOutput" class="content" readonly name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="card">
      <h2 class="cardtitle">
        About
      </h2>
    </div>
  </main>
</body>
</html>
