<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill Cypher</title>
  <link rel="stylesheet" href="/style.less">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script type="module" src="/main.js" defer></script>
</head>
<body>
  
  <header class="header">
    <h1>Vignère Encoder and Decoder</h1>
    <h2>by NSDawn and Sirius902</h2>
  </header>

  <main ng-app="vigenereApp" ng-controller="vigenereController">

    <button>Encoding Mode</button>
    <div class="card">
      <textarea ng-model="encodeInput" name="" cols="30" rows="10" placeholder="Enter text to encode..."></textarea>
      <input ng-model="encodeKey" type="text">

      <textarea ng-model="encodeOutput" readonly name="" id="" cols="30" rows="10"></textarea>
    </div>
  </main>
</body>
</html>
